@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: rgb(30, 41, 59);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(30, 41, 59);
  border-radius: 20px;
}

* {
  scrollbar-width: 20px;
  scrollbar-color: rgb(148 163 184) rgb(30, 41, 59);
}
